// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

body {
  font-family: 'Roboto', sans-serif;
  font-size: 100%;
}

$vermelho-forte: #dd0019;
$vermelho-fraco: #fdf0f1;

.font-color-red-strong {
  color: #dd0019;
}

.font-color-red-weak {
  color: #fdf0f1;
}

.font-gg {
  font-size: 1.125rem; // 18px
}

.font-g {
  font-size: 1rem; // 16px
}

.font-m {
  font-size: 0.875rem; // 14px
}

.font-s {
  font-size: 0.75rem; // 12px
}

.font-weak {
  font-weight: 300;
}

.font-regular {
  font-weight: 400;
}

.font-strong {
  font-weight: 700;
}

.page-enter-active,
.page-leave-active {
  transition: opacity 0.3s;
}

.page-enter,
.page-leave-to {
  opacity: 0;
}

.slide-left-enter,
.slide-right-leave-active {
  transition: all 0.3s ease;
  transform: translateX(-10px);
  opacity: 0;
}

.slide-left-leave-active,
.slide-right-enter {
  transition: all 0.3s ease;
  transform: translateX(20px);
  opacity: 0;
}
